
body {
    background: url(assets/bg-image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }
 .app{
    background-image: linear-gradient(315deg, rgba(81, 75, 121, 0.9), rgba(38, 218, 149, 0.8));
  }

.balance{
    background-color:#C0C0C0
 }

.balance1{
    background-color:#EEE8AA
}

.balance2{
    background-color:#F5FFFA
}

.minus{
      
      border-right: 5px solid #b6960a;
}

.plus{
     border-right: 5px solid #ad512d;
}

.navbar{
     background-color:#FFEFD5 !important
}

.bg-footer{
     background-color:#FFEFD5 
}